@import url('https://fonts.googleapis.com/css?family=Oswald');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  outline: none;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;  
  background: -webkit-linear-gradient(right, #1d3ede, #01e6f8);
  font-family: 'Oswald';
}
.github-corner svg{
	position:absolute;
	right:0;
	top:0;
	mix-blend-mode:darken;
	color:#eeeeee;
	fill:#222;
	clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.github-corner:hover .octo-arm{
	animation:octocat-wave .56s;
}
@keyframes octocat-wave{
	0%, 100%{
		transform:rotate(0);
	}
	20%, 60%{
		transform:rotate(-20deg);
	}
	40%, 80%{
		transform:rotate(10deg);
	}
}
.screen{
    display: flex;
    margin: 10px 0;
    background: transparent;
}
.container{
    display: flex;
    flex-direction: column;
    height: 430px;
    width: 380px;
    background: rgba(20, 20, 20, .98);
    padding: 10px;
  border-radius: 8px;
}
h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    margin: 7px 0;
}
.output{
    background: #FFF;
    width: 60%;
    height: 50px;
    overflow: auto;
    margin: 0 20px;
    padding: 10px 7px;
    font-size: 17px;
    z-index: 10;
    color: #000;
    border: none;
    outline: none;
}
#copy{
  background:-webkit-linear-gradient(bottom, #1d3ede, #01e6f8);
  color: #FFF;
  border-radius: 8px;
}
.screen button{
    padding: 15px 20px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
input, label{
    margin: 15px 20px;
    font-size: 17px;
    font-family: sans-serif;
}
input[type="checkbox"], input[type="number"] {
  float: right;
}
#passlength{
    text-align: center;
}
#generate{
    cursor: pointer;
    margin: 10px 15px;
    height: 45px;
    font-size: 17px;
    font-weight: bold;
  background: -webkit-linear-gradient(left, #1d3ede, #01e6f8);
    border: none;
   border-radius: 6px;
    color: white;
}
#alert {
  margin-left: 20px;
  background: green;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 5px;
}
